.contact-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-info {
  position: relative;
  background-color: #0a192f;
}

.contact-title {
  font-size: 3em;
  padding-bottom: 20px;
}

.social-media-list {
  display: flex;
}

.social-media-list a {
  display: inline-flex;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

#github-icon,
#linkedin-icon,
#whatsapp-icon,
#email-icon {
  width: 24px;
}

#astronaut {
  position: absolute;
  bottom: 0;
  left: 0;
}
