header {
  width: 100%;
  background-color: #0a192f;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

nav .nav-wrapper {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
}

nav .logo-text {
  font-weight: bold;
}

.nav-wrapper ul li a {
  text-decoration: none;
}
