header {
  width: 100%;
  background-color: #0a192f;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

nav .nav-wrapper {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
}

nav .logo-text {
  font-weight: bold;
}

.nav-wrapper ul li a {
  text-decoration: none;
}

.mobile-nav-button {
  display: none;
}

.nav-mobile-panel {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: #0a192f;
  transform: translateX(0);
  transition: all 0.5s;
}

.nav-mobile-panel-isActive {
  transform: translateX(100%);
}

.mobile-li-navbar a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.mobile-li-navbar a:hover {
  background-color: #263c5b;
}

.mobile-li-navbar {
  text-align: center;
}

.menuIsActive {
  transform: rotate(180deg) !important;
}

@media only screen and (max-width: 700px) {
  .nav-wrapper ul {
    display: none;
  }

  .mobile-nav-button {
    display: block;
    background-color: #263c5b;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s;
    transform: rotate(0);
  }

  .nav-mobile-panel {
    display: block;
  }
}
